@import "./contactpage";
@import "./navbar";
@import "./landingpage";
@import "./about-me";
@import "./_gif-page";
@import "./lotto-page";
@import "./pokemon-page";
@import "./weather-page";
@import "./tools-page";
@import "./footer.scss";

.landing-page {
  background: linear-gradient(45deg, $mainDark,#323e4b, #2c2a2a, $secondaryDark);
  animation: gradient 15s ease infinite;
  background-size: 500% 500%;
  min-height: 75vh;
  @include flex-justify-align-dir(flex-start, center, row);
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.about-me {
  background-color:  $mainDark;
  min-height: auto;
}
.gif-page {
  background-color: $secondaryDark;
  @include flex-justify-align-dir(center, center, column);
}
.lotto-page {
  background-color: $secondaryDark; //#363535;//$mainDark;
  min-height: auto;
  @include flex-justify-align-dir(center, center, column);
}
.pokemon-page {
  background-color: $mainDark;
   @include flex-justify-align-dir(center, center, row);
  min-height: auto;
}
.weather-page {
  // background-color: blue;
  height: 95vh;
  
}
.tools-page {
  min-height: 70vh;
  background: $mainDark;
  @include flex-justify-align-dir(center, center, row);
}
.footer-page {
  min-height: auto;
  // background: $mainLight;
  background: $footerBG;
  @include flex-justify-align-dir(center, center, column);
}