.body-about-me {
  @include flex-justify-align-dir(space-evenly, center, row);
  .left-about-me {
    width: 50%;
    height: auto;
    background: $mainDark;
    padding-bottom: 5rem;
    @include flex-justify-align-dir(center, center, column);
    // h2 {
    //   font-size: 2.25rem;
    //   width: 29rem;
    //   color: cadetblue;
    // }
    p:nth-child(2) {
      font-weight: bold;
      font-size: 1.75rem;
      width: 29rem;
      margin-top: -1.5rem;
      color: $mainLight;
    }
    p:nth-child(3) {
      font-size: 1.25rem;
      width: 29rem;
      color: $mainLight;
    }
  }
  .right-img-container {
    width: 50%;
    @include flex-justify-align-dir(center, center, row);
    img {
      object-fit: contain;
      width: 100%;
    }
  }
}
