.body-about-me {
  @include flex-justify-align-dir(space-evenly, center, row);
  .left-about-me {
    width: 50%;
    height: auto;
    background: $mainDark;
    padding-bottom: 5em;
    @include flex-justify-align-dir(center, center, column);
    p:nth-child(2) {
      font-weight: bold;
      font-size: 1.75rem;
      width: 16.75em;
      margin-top: -1rem;
      color: $mainLight;
    }
    p:nth-child(3) {
      font-size: 1.25rem;
      width: 23.5em;
      color: $mainLight;
      // border: 2px solid red;
    }
  }
  .right-img-container {
    width: 50%;
    @include flex-justify-align-dir(center, center, row);
    img {
      object-fit: contain;
      width: 100%;
    }
  }
}
