.gif-container {
  /* width: 3rem; */
  height: auto;
  padding-top: 5rem;
  width: 50rem;
  background-color: aquamarine;
  @include flex-justify-align-dir(center, flex-start, row);
  flex-wrap: wrap;

  .project-card {
    width: 10rem;
    height: 10rem;
    background-color: goldenrod;
    border: 2px black solid;
    margin: 2rem;
    .gif-circle {
      position: relative;
      border: 2px black solid;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      margin: 10px auto;
      @include flex-justify-align-dir(center, center, row);
      // display: flex;
      // justify-content: center;
      // align-items: center;
      overflow: hidden;
      cursor: pointer;
      .img-of-work {
        // display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
      &:hover img {
        transform: scale(1.1);
        // transform-origin: 50% 50%;
        transition: 0.3s ease-in-out;
      }
    }
    .project-card-description {
      width: 100%;
      height: auto;
      background: #fff;
      @include flex-justify-align-dir(center, center, column);
      p {
        margin: 0.7rem auto;
      }
      .github-link{
        cursor: pointer;
        text-decoration: underline;
        
      }
    }
  }
}
