.gif-container {
  /* width: 3rem; */
  min-height: auto;
  padding: 5em;
  // width: 90rem;
  // background-color: rgb(24, 110, 81);
  @include flex-justify-align-dir(center, flex-start, row);
  flex-wrap: wrap;

  .project-card {
    width: 20em;
    height: 20em;
    // border: 2px rgba(0, 0, 0, 0.568) solid;
    padding: 1em;
    margin: 2em;
    .gif-img-container {
      position: relative;
      border: 1.25px #716e77 solid;
      box-shadow: 0px 30px 45px rgba(0, 0, 0, 0.171);
      width: 75%;
      height: 75%;
      border-radius: 50%;
      margin: 10px auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 300%;
      cursor: pointer;
      background-position-y: 0%;
      transition: 0.75s ease-in-out;
      opacity: 0.6;

      @include flex-justify-align-dir(center, center, row);
      &:hover {
        background-size: 350%;
        opacity: 1;
      }
    }
    .weather-gif-img {
      // filter: grayscale(100%);
      background-image: url('../../assets/project-img-gif/weatherProjectImg.jpg');
      &:hover {
        filter: none;

        background-image: url('../../assets/project-img-gif/weatherProjectGif.gif');
      }
    }
    .lotto-gif-img {
      background-image: url('../../assets/project-img-gif/lottoPageImg.jpg');
      &:hover {
        background-image: url('../../assets/project-img-gif/lottoPageGif.gif');
      }
    }
    .pokemon-gif-img {
      background-image: url('../../assets/project-img-gif/pokemonProjectImg.jpg');
      &:hover {
        background-image: url('../../assets/project-img-gif/pokemonProjectGif.gif');
      }
    }
    .project-card-description {
      width: 100%;
      height: auto;
      // background: #0e1c2555;
      color: #716e77;

      @include flex-justify-align-dir(center, center, column);
      p {
        margin: 0.7rem auto;
      }
      // .github-link {
      //   cursor: pointer;
      //   text-decoration: underline;
      // }
    }
  }
}
