// this page handles bigges container

.landing-page {
  background-color: #202020;
  height: 85vh;
  display: flex;
  justify-content: space-evenly;
}

.div2 {
  background-color: green;
}
.div3 {
  background-color: red;
}
.div4 {
  background-color: purple;
}
.div5 {
  background-color: blue;
}
