.lp-main {
  // height: auto;
  text-align: center;
  margin: 10em auto;
  color: $mainLight;
  // border: 2px solid red;
  p {
    font-size: 2rem;
    font-weight: 400;
  }
  .my-name {
    font-size: 5rem;
  }
}
