

.lp-main {
  margin-top: 10rem;
  width: 80%;
  height: auto;
  // background: rgb(165, 107, 117);
  text-align: center;
  margin: 10rem auto;
  color: $mainLight;
  p {
    font-weight: bold;
  }
  .my-name {
    font-size: 4rem;
  }
  .my-skill {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}
