.lotto-container {
  min-height: 40rem;
  padding-top: 5rem;
  // border: 3px pink dashed;
  width: 80%;
  min-width: 50rem;

  // @include flex-justify-align-dir(center, center, column);
  .topic-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    flex-direction: column;
    // border: 3px rgb(228, 70, 96) dashed;
    span {
      color: $mainLight;
      font-family: mukta, sans-serif;
      font-weight: 400;
      font-size: 2rem;
    }
  }
  .lotto-numbers-container {
    display: flex;
    justify-content: center;
    .lottoDiv {
      border: 4px solid $mainLight;
      color: $mainLight;
      width: 3em;
      height: 3em;
      margin: 0.3em;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;
      &:hover {
        border: 5px solid $hoverLottoDiv;
        cursor: cell;
      }
    }
    .lottoDiv:nth-child(7) {
      background: $mainSuperNumberBg;
      &:hover {
        background: $hoverSuperNumberBg;
        cursor: cell;
        transition: ease-in-out 0.2s;
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .reset-btn {
    width: 7em;
    border: $mainLight 3px solid;
    color: $mainLight;
    background-color: $mainDark;
    &:hover {
      // background: $mainLight;
      // border: 3px $hoverLottoDiv solid;
      color: $hoverLottoDiv;
      transition: ease-in-out 0.2s;
    }
    &:active {
      background-color: $mainDark;
      transition: ease-in-out 0.2s;
    }
  }
  .try-luck-btn {
    width: 13em;
    border: $mainDark 3px solid;
    background: $mainLight;
    color: $mainDark;
    &:hover {
      background: $mainDark;
      // border: 3px $hoverLottoDiv solid;
      color: $hoverLottoDiv;
      transition: ease-in-out 0.2s;
    }
    &:active {
      background-color: $mainLight;
      transition: ease-in-out 0.2s;
    }
  }
}

@media (max-width: 767px) {
  .lotto-container {
    width: 80%;
    min-width: 25rem;
    .topic-container {
      line-height: 2em;
      margin-bottom: 1em;
      // border: 3px rgb(102, 100, 224) dashed;

      span {
        font-size: 1.7rem;
      }
    }
    .lotto-numbers-container {
      .lottoDiv {
        font-size: 1rem;
        border: 3px solid $mainLight;
      }
    }
    // .reset-btn {

    // }
  }
}
@media (max-width: 414px) {
  .lotto-container {
    min-width: 22rem;
    .topic-container {
      line-height: 1.5em;
      span {
        font-size: 1.7rem;
      }
    }
    .lotto-numbers-container {
      .lottoDiv {
        font-size: 0.85rem;
        border: 2.25px solid $mainLight;
      }
    }
  }
}
