nav {
  background-color: $mainDark;
  width: 100%;
  height: 5rem;
  @include flex-justify-align-dir(space-evenly, center, row);
  position: fixed;
  z-index: 1;
  ul {
    display: flex;
    // background: green;
    width: auto;
    margin-left: 18rem;
    margin-right: -10rem;
    li {
      list-style: none;
      margin-right: 2rem;
      cursor: pointer;
      padding-top: 0.9rem;
      height: 5rem;

      width: 6.5rem;
      @include flex-justify-align-dir(center, center, row);

      a {
        color: $mainLight;
        font-size: 1.2rem;
      }
      .nav-link {
        // font-weight: bold;
      }
    }
  }
  // .navbar-contact-me {
  //   height: 3rem;
  //   border-radius: 6px;
  //   width: 13rem;
  //   border: $mainLight 2px solid;
  //   background: #2323235d;
  //   color: $mainLight;
  //   font-size: 1rem;
  //   font-weight: bold;
  //   margin-right: -18em;
  //   margin-left: 5rem;
  //   cursor: pointer;
  //   @include flex-justify-align-dir(center, center, row);
  //   // &:hover {
  //   //   background: $mainDark;
  //   //   border: 3px $mainLight solid;
  //   //   color: $mainLight;
  //   //   transition: ease-in-out 0.2s;
  //   // }
  // }
}

.nav-item {
  // background-color: red;
  border-bottom: $mainLight 4px solid;
}

.navPacity {
  background-color: #23232355;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: $mainDark;
  }
}
