nav {
  background-color: $mainDark;
  width: 100%;
  height: 5rem;
  @include flex-justify-align-dir(space-evenly, center, row);
  position: fixed;
  z-index: 1;
  ul {
    display: flex;
    width: auto;
    margin-left: 18rem;
    margin-right: -10rem;
    li {
      list-style: none;
      margin-right: 2rem;
      padding-top: 0.9rem;
      height: 5rem;
      width: 6.5rem;
      cursor: pointer;
      @include flex-justify-align-dir(center, center, row);
      a {
        color: $mainLight;
        font-size: 1.2rem;
      }
    }
  }
}

.nav-item {
  border-bottom: $mainLight 4px solid;
}

.navbar-opacity {
  background-color: #23232355;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: $mainDark;
  }
}
