nav {
  background-color: $mainDark;
  width: 100%;
  height: 5rem;
  @include flex-justify-align-dir(space-evenly, center, row);
  position: fixed;
  z-index: 1;
  // background-color: green;

  ul {
    display: flex;
    width: auto;
    margin-left: 18rem;
    margin-right: -10rem;
    // background-color: green;
    li {
      list-style: none;
      margin-right: 2rem;
      padding-top: 0.9rem;
      height: 5rem;
      width: 6.5rem;
      cursor: pointer;
      @include flex-justify-align-dir(center, center, row);
      a {
        color: $mainLight;
        font-size: 1.2rem;
      }
    }
  }
}

.nav-item {
  border-bottom: $mainLight 4px solid;
}

.navbar-opacity {
  background-color: #23232355;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: $mainDark;
  }
}

.hideNavBar {
  display: none;
}

.hamburger {
  position: fixed;
  display: none;
  width: 45px;
  cursor: pointer;
  appearance: none;
  outline: none;
  border: none;
  // border: 2px red solid;
  background-color: transparent;
  z-index: 1;
  right: 3%;
  top: 18px;
}

.hamburger-bar,
.hamburger:after,
.hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: #a8a7a7;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .hamburger-bar {
  opacity: 0;
}
.is-active {
  display: block;
}
.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  // z-index: 98;
  background-color: $mainDark;
  padding-top: 120px;
  transition: 0.4s;
  text-align: center;
  margin-top: -6em;
  nav {
    width: 50%;
    @include flex-justify-align-dir(center, center, column);
    background-color: transparent;
    margin: 10em 25%;
  }
  a {
    display: block;
    width: 100%;
    // max-width: 12rem;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: $secondaryDark;
    color: #a8a7a7;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background-color: #232833;
    }
  }
}

.mobile-nav.is-active {
  left: 0;
}
.navbar-opacity {
  background-color: $mainDark;
}

@media (max-width: 767px) {
  nav ul {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .hamburger {
    display: block;
  }
}
