// index-layout
$mainDark: #202020;
$mainLight: #d2d2d2;
$learnMoreLight: #727272;

//lotto-page
$mainSuperNumberBg: linear-gradient(#A8A7A7, #757273, #464344, #474747);
$hoverSuperNumberBg: linear-gradient(#A8A7A7, #CC527A, #E8175D, #474747);
$hoverLottoDiv: #CC527A;