// index-layout
$mainDark: #232323;
$mainLight: #f8f8f3;
$learnMoreLight: #727272;

//lotto-page
$mainSuperNumberBg: linear-gradient(#A8A7A7, #757273, #464344, #474747);
$hoverSuperNumberBg: linear-gradient(#A8A7A7, #CC527A, #E8175D, #474747);
$hoverLottoDiv: #CC527A;